<section class="basic-elements">
	<div class="row">
	    <div class="col-md-6">
	        <div class="content-header">Email Templates</div>
	    </div>
	</div>

	<div class="row" *ngIf="new">
		<div class="col-md-12" *ngIf="showTable">
			<div class="card">
				<div class="card-header">
					<div class="row">
					    <div class="col-sm-6">
					        <p>Email Templates</p>
					    </div>
					    <div class="col-sm-6" style="text-align: right;" *ngIf="showTable">
					        <p>
					            <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="addet()"><span class="ft-plus"></span>Add Email Template</a>
					        </p>
					    </div>
					</div>
					<div class="card-body">
	                    <div class="card-block">
	                        <table class="table table-responsive-sm">
	                            <thead>
	                                <tr>
	                                    <th>Template Name</th>
	                                    <th>Subject</th>
	                                    <th>Action</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr *ngFor="let templateData of emailTemplates | paginate: { itemsPerPage: 5, currentPage: p }">
	                                    <td>{{templateData.name}}</td>
	                                    <td>{{templateData.subject}}</td>
	                                    <td>
	                                        <a class="success p-0" data-original-title="" title="" (click)="editet(templateData.id)">
	                                            <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
	                                        </a>
	                                        <a class="danger p-0" data-original-title="" title="" (click)="deleteet(templateData.id)">
	                                            <i class="fas fa-trash font-medium-3 mr-2"></i>
	                                        </a>
                                    	</td>
	                                </tr>
	                                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
	                            </tbody>
	                        </table>
	                        <div class="col-12 paginationonAction">
	                        	<span class="total">{{collectionSize}} Total</span>
	                        	<ngb-pagination class="datatable-footer-inner" [pageSize]="pageSize" [(page)]="p" [maxSize]="5" [rotate]="true" [collectionSize]="collectionSize" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
		                    </div>
	                    </div>
                	</div>
				</div>
			</div>
		</div>

		<div class="col-md-12" *ngIf="!showTable">
			<div class="card">
				<div class="card-header">
					<div class="card-body">
            <div class="card-block">
              <form class="form" [formGroup]="emailTemplateForm" (ngSubmit)="addEmailTemplate()">
								<div class="form-body">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="temname">Name</label>
												<input type="text" id="temname" class="form-control" formControlName="temname" placeholder="Enter Template Name">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="temsub">Subject</label>
												<input type="text" id="temsub" class="form-control" formControlName="temsub" placeholder="Enter Subject">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<label for="template">Save as Template</label><br />
												<ui-switch formControlName="template" id="template"></ui-switch>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<fieldset class="form-group">
													<div [froalaEditor]="options" #my_editor formControlName="tembody"></div>
						            </fieldset>
											</div>
										</div>
									</div>
								</div>
								<div class="form-actions">
									<button type="button" class="btn btn-raised btn-success" (click)="addEmailTemplate()">
										<i class="icon-note"></i> Save Template
									</button>
									<button type="button" class="btn btn-raised btn-danger mr-1" (click)="cancel()">
										<i class="icon-trash"></i> Cancel
									</button>
								</div>
							</form>
            </div>
        	</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="showEdit">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="card-body">
	                    <div class="card-block">
	                        <form class="form" (ngSubmit)="updateEmailTemplate()">
								<div class="form-body">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="projectinput1">Name</label>
												<input type="text" id="projectinput1" class="form-control" name="temname" [(ngModel)]="editEmailTemDetails.name" placeholder="Enter Template Name">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="projectinput2">Subject</label>
												<input type="text" id="projectinput2" class="form-control" name="temsub" [(ngModel)]="editEmailTemDetails.subject" placeholder="Enter Subject">
											</div>
										</div>
									</div>
								</div>

								<div class="col-12">
									<div class="form-group">
										<fieldset class="form-group">
											<div [froalaEditor]="options" #my_editor name="tembody" [(ngModel)]="editEmailTemDetails.body"></div>
				                        </fieldset>
									</div>
								</div>

								<div class="form-actions">
									<button type="button" class="btn btn-raised btn-danger mr-1" (click)="updateEmailTemplate()">Update Template</button>
									<button type="button" class="btn btn-raised btn-success" (click)="cancel()">Cancel</button>
								</div>
							</form>
	                    </div>
                	</div>
				</div>
			</div>
		</div>
	</div>
</section>
