/* You can add global styles to this file, and also import other style files */
ul.pagination {
    background: #424242;
    height: 50px;
    border-radius: 0;
}
.page-item.active .page-link, .page-item .page-link:hover {
	background-color: #545454;
    border-color: #545454;
}
.page-item.disabled .page-link, .page-item .page-link {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}
ngb-pagination li, dd {
    margin: 6px 2px;
}
.page-link:focus {
    box-shadow: 0 0 0 0.2rem transparent;
}
.page-item.disabled {
    cursor: not-allowed;
}
.paginationonAction {
	background: #424242;
	height: 50px;
}
span.total {
    color: #fff;
    line-height: 3;
}
.signuprow .full-height-vh {
    height: 145vh !important;
}
.btn-success.disabled, .btn-success:disabled {
    cursor: not-allowed;
}
table.viewOrg{
    width: 100%;
    word-break: break-all;
    color: #585252 !important;
}
table.viewOrg tbody tr th {
    background: #E8E8E8;
}

table.viewOrg tbody tr th, table.viewOrg tbody tr td {
    padding: 5px 2px!important;
    border-top: 1px #DDDDDD solid !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px;
    text-align: left;
}